scrapy
scrapy-playwright
python-dotenv
loguru
tqdm
beautifulsoup4
pandas
scrapy-user-agents
scikit-learn
polars
numpy
matplotlib
seaborn
requests

# For development
ipython
flake8
isort
black
pre-commit